$primary: #9d1839;
$info: #00b4d7;

@import '~bulma/sass/utilities/_all';
@import '~bulma';
@import '~buefy/src/scss/buefy';

.is-stat.is-large * {
  height: calc(1.5 * #{$size-large}) !important;
  color: #ffffff;
  border-radius: $radius-large;
  border: calc(0.8 * 0.125rem) solid rgba(0, 0, 0, 0.75);
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 0.75rem;
}

.is-stat.is-small * {
  background-color: #018bb7;
}

.navbar {
  @include tablet {
    padding: 1rem;
  }

  background-color: rgba(0, 0, 0, 0);
}

.stat-section {
  @include from($tablet) {
    border-radius: 6px;
  }
}
